body{
    padding:20px;
    padding-top: 0;
    background-color: rgb(43, 24, 56);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.container h1{
    margin-bottom: 20px;
}

label{
    margin: 15px 0px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.add-btn{
    width:100px;
    margin-top: 20px;
    padding:10px;
    font-size:14px;
    font-weight: 600;
    background-color:rgb(77, 172, 22);
    border: 1px solid rgb(119, 241, 119);
    border-radius: 5px;
    color: white;
    align-self:end;
    transition: background-color 0.2s, box-shadow 0.2s;
    
    
}
.add-btn:hover{
   cursor: pointer;
   background-color: rgb(19, 226, 19);
   box-shadow: 0px 0px 10px rgb(118, 230, 84);
    
}

input {
    width: 480px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 5px black;
}

textArea{
    width: 480px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 5px black;
    min-height:50px;
}

.todo-container{
    display:grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.todo-body{
    margin-top: 30px;
    background-color: white;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    border-radius: 5px;
    padding-left: 20px;
    box-shadow: 2px 2px 5px black;
}

.todo-description{
    color:rgba(0, 0, 0, 0.800);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.remove-btn{
    
    margin-top: 10px;
    padding:8px 10px;
    font-size:14px;
    font-weight: 600;
    background-color:rgb(138, 0,0);
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    float: inline-end;
    transition: background-color 0.2s, box-shadow 0.2s;

}
.remove-btn:hover{
    cursor: pointer;
    background-color: red;
    box-shadow: 0px 0px 10px rgb(230, 84, 84);
     
 }







 @media screen and (max-width: 768px) {
    /* CSS styles for screens up to 768px wide */
    .container{
        
        width: 100%;
        padding-right: 10px;
    }
    input ,textArea{
        width: 95%;
      
    }

    .todo-container{
        display:grid;
        width: 100%;
        grid-template-columns: 1fr ;
    
    }
}
